<!DOCTYPE html>

<html>
<head>
  <title>integration-factory.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
    
    <ul class="sections">
        
          <li id="title">
              <div class="annotation">
                  <h1>integration-factory.js</h1>
              </div>
          </li>
        
        
        
        <li id="section-1">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-1">&#182;</a>
              </div>
              <pre><code> IntegrationFactory.js <span class="hljs-number">2.1</span>.8
 <span class="hljs-number">2015</span> Maxymiser
 vitaliy.sobur@maxymiser.com
</code></pre>
            </div>
            
            <div class="content"><div class='highlight'><pre>;(<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(mmcore)</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-2">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-2">&#182;</a>
              </div>
              <p>Current version</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>    <span class="hljs-keyword">var</span> VERSION = <span class="hljs-string">'2.1.8'</span>,</pre></div></div>
            
        </li>
        
        
        <li id="section-3">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-3">&#182;</a>
              </div>
              <p>Registered integrations</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>        integrations = {},</pre></div></div>
            
        </li>
        
        
        <li id="section-4">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-4">&#182;</a>
              </div>
              <p><strong>Register</strong> new integration
<code>name</code>: integration name
<code>options</code>: integration options</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>        <span class="hljs-comment">/**
         * Register new integration
         *
         * @param  {String} name    Integration name
         * @param  {{validate: Function, check: Function, interval: Number, defaults: Object, exec: Function}} options
         * @return {Object} Registered integration
         */</span>
        register = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(name, options)</span> </span>{
          <span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> name !== <span class="hljs-string">'string'</span> || !name) {
              <span class="hljs-keyword">return</span> _helpers.logError(_helpers.errorMessages[<span class="hljs-number">0</span>]), <span class="hljs-literal">null</span>;
          }

          options = options || {};

          <span class="hljs-keyword">return</span> (integrations[name] = {</pre></div></div>
            
        </li>
        
        
        <li id="section-5">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-5">&#182;</a>
              </div>
              <p>Define input data validation</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            validate: options.validate  || <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{<span class="hljs-keyword">return</span> <span class="hljs-literal">true</span>;},</pre></div></div>
            
        </li>
        
        
        <li id="section-6">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-6">&#182;</a>
              </div>
              <p>Define when to execute integration</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            check: options.check        || <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{<span class="hljs-keyword">return</span> <span class="hljs-literal">true</span>;},</pre></div></div>
            
        </li>
        
        
        <li id="section-7">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-7">&#182;</a>
              </div>
              <p>Define time inteval for check performing</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            interval: options.interval  || <span class="hljs-number">50</span>,</pre></div></div>
            
        </li>
        
        
        <li id="section-8">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-8">&#182;</a>
              </div>
              <p>Define default properties</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            defaults: options.defaults  || {},</pre></div></div>
            
        </li>
        
        
        <li id="section-9">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-9">&#182;</a>
              </div>
              <p>Define integration execution</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            exec: options.exec
          });
        },</pre></div></div>
            
        </li>
        
        
        <li id="section-10">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-10">&#182;</a>
              </div>
              <p><strong>Initialize</strong> target integration
<code>name</code>: integration name
<code>data</code>: campaign data</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>        <span class="hljs-comment">/**
         * Initialize registered integration
         *
         * @param  {String} name Integration name
         * @param  {Object} data Campaign data
         * @return {void}
         */</span>
        initialize = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(name, data)</span> </span>{
          <span class="hljs-keyword">var</span> integration = integrations[name],
              defaults = integration.defaults || {},
              validationError;</pre></div></div>
            
        </li>
        
        
        <li id="section-11">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-11">&#182;</a>
              </div>
              <p>Check if integration <code>name</code> is defined</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>          <span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> name !== <span class="hljs-string">'string'</span>) {
            <span class="hljs-keyword">return</span> _helpers.logError(_helpers.errorMessages[<span class="hljs-number">0</span>], name);
          }</pre></div></div>
            
        </li>
        
        
        <li id="section-12">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-12">&#182;</a>
              </div>
              <p>Check if integration execution method is defined</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>          <span class="hljs-keyword">if</span> (!integration.exec) {
            <span class="hljs-keyword">return</span> _helpers.logError(_helpers.errorMessages[<span class="hljs-number">1</span>], name);
          }</pre></div></div>
            
        </li>
        
        
        <li id="section-13">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-13">&#182;</a>
              </div>
              <p>Check whether the campaign is redirect campaign</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>          <span class="hljs-keyword">if</span> (data.redirect &amp;&amp;</pre></div></div>
            
        </li>
        
        
        <li id="section-14">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-14">&#182;</a>
              </div>
              <p>Check whether current page is generation page</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            _helpers.isGenerationPage(data.campaign) &amp;&amp;</pre></div></div>
            
        </li>
        
        
        <li id="section-15">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-15">&#182;</a>
              </div>
              <p>Check whether there is non-default experience</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            _helpers.hasNoneDefaultExperience(data)) {</pre></div></div>
            
        </li>
        
        
        <li id="section-16">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-16">&#182;</a>
              </div>
              <p>Save target campaign experience in case of redirect campaign</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              _helpers.saveCampaignExperience(data);
          } <span class="hljs-keyword">else</span> {</pre></div></div>
            
        </li>
        
        
        <li id="section-17">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-17">&#182;</a>
              </div>
              <p>Add target campaign info to the <code>data</code> object if doesn’t exist</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            data.campaignInfo = data.campaignInfo || _helpers.getCampaignInfo(data);</pre></div></div>
            
        </li>
        
        
        <li id="section-18">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-18">&#182;</a>
              </div>
              <p>Check if target campaign info exists</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            <span class="hljs-keyword">if</span> (data.campaignInfo) {</pre></div></div>
            
        </li>
        
        
        <li id="section-19">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-19">&#182;</a>
              </div>
              <p>populate campaign <code>data</code> object with <code>defaults</code></p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              <span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> prop <span class="hljs-keyword">in</span> defaults) {
                <span class="hljs-keyword">if</span> (defaults.hasOwnProperty(prop) &amp;&amp; <span class="hljs-keyword">typeof</span> data[prop] === <span class="hljs-string">'undefined'</span>) {
                  data[prop] = defaults[prop];
                }
              }</pre></div></div>
            
        </li>
        
        
        <li id="section-20">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-20">&#182;</a>
              </div>
              <p>Add production check info to the <code>data</code> object</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              data.isProduction = _helpers.isProduction();</pre></div></div>
            
        </li>
        
        
        <li id="section-21">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-21">&#182;</a>
              </div>
              <p>Validate entry data and get possible errors</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              validationError   = _helpers.isValidData.call(integration, data);</pre></div></div>
            
        </li>
        
        
        <li id="section-22">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-22">&#182;</a>
              </div>
              <p>Check if <code>validationError</code> variable contains error message</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              <span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> validationError === <span class="hljs-string">'string'</span>) {</pre></div></div>
            
        </li>
        
        
        <li id="section-23">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-23">&#182;</a>
              </div>
              <p>Log validation error</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>                _helpers.logError(validationError, name);
              } <span class="hljs-keyword">else</span> {</pre></div></div>
            
        </li>
        
        
        <li id="section-24">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-24">&#182;</a>
              </div>
              <p>Execute defined modifiers</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>                _helpers.executeModifiers.call(integration, data);</pre></div></div>
            
        </li>
        
        
        <li id="section-25">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-25">&#182;</a>
              </div>
              <p>Send target campaign information to third-party</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>                _helpers.sendIntegrationData.call(integration, data);
              }
            }
          }
        },</pre></div></div>
            
        </li>
        
        
        <li id="section-26">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-26">&#182;</a>
              </div>
              <h2 id="helpers">Helpers</h2>

            </div>
            
            <div class="content"><div class='highlight'><pre>        _helpers = {</pre></div></div>
            
        </li>
        
        
        <li id="section-27">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-27">&#182;</a>
              </div>
              <p>List of possible integration error messages</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>          errorMessages: [
            <span class="hljs-string">'Invalid integration build, name is required.'</span>,
            <span class="hljs-string">'Invalid integration build, exec is required.'</span>
          ],</pre></div></div>
            
        </li>
        
        
        <li id="section-28">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-28">&#182;</a>
              </div>
              <p><strong>Log errors</strong></p>

            </div>
            
            <div class="content"><div class='highlight'><pre>          <span class="hljs-comment">/**
           * Log errors
           *
           * @param  {String} message
           * @param  {String} integrationName
           * @return {void}
           */</span>
          logError: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(message, integrationName)</span> </span>{
            mmcore.EH(
              {message: <span class="hljs-string">'['</span> + (integrationName ? integrationName : <span class="hljs-string">'Integration'</span>) + <span class="hljs-string">'] '</span> + message}
            );
          },</pre></div></div>
            
        </li>
        
        
        <li id="section-29">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-29">&#182;</a>
              </div>
              <p><em>Check</em> whether current page is target campaign page and has experience information</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>          <span class="hljs-comment">/**
           * Check whether current page is target campaign page and has experience information
           *
           * @param  {String}  campaignName
           * @return {Object}               Experience information for current campaign
           */</span>
          isGenerationPage: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(campaignName)</span> </span>{
            <span class="hljs-keyword">return</span> mmcore.GenInfo[campaignName];
          },</pre></div></div>
            
        </li>
        
        
        <li id="section-30">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-30">&#182;</a>
              </div>
              <p><em>Check</em> whether target campaign has non default experience</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>          <span class="hljs-comment">/**
           * Check whether target campaign has non default experience
           * @param  {[type]}  data campaign data
           * @return {Boolean}
           */</span>
          hasNoneDefaultExperience: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(data)</span> </span>{
            <span class="hljs-keyword">var</span> experience = <span class="hljs-keyword">this</span>.getCampaignExperience(data),
                hasNonDefaultExperience = <span class="hljs-literal">false</span>,
                key;

            <span class="hljs-keyword">for</span> (key <span class="hljs-keyword">in</span> experience) {
              <span class="hljs-keyword">if</span> (experience.hasOwnProperty(key) &amp;&amp; (experience[key] !== <span class="hljs-string">'Default'</span>)) {
                hasNonDefaultExperience = <span class="hljs-literal">true</span>;
                <span class="hljs-keyword">break</span>;
              }
            }

            <span class="hljs-keyword">return</span> hasNonDefaultExperience;
          },</pre></div></div>
            
        </li>
        
        
        <li id="section-31">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-31">&#182;</a>
              </div>
              <p><strong>Get</strong> target campaign <strong>experience</strong></p>

            </div>
            
            <div class="content"><div class='highlight'><pre>          <span class="hljs-comment">/**
           * Get target campaign experiance
           *
           * @param  {Object} data Campaign data set during integration initialization
           * @return {Object}      Experience information for current campaign
           */</span>
          getCampaignExperience: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data)</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-32">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-32">&#182;</a>
              </div>
              <p>Get info from <code>mmcore.GenInfo</code> object</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            <span class="hljs-keyword">var</span> experience = mmcore.GenInfo[data.campaign];</pre></div></div>
            
        </li>
        
        
        <li id="section-33">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-33">&#182;</a>
              </div>
              <p>Get campaign info from the cookie if campaign type is redirect</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            <span class="hljs-keyword">if</span> (data.redirect &amp;&amp; !experience) {
              <span class="hljs-keyword">var</span> cookieName = <span class="hljs-string">'mm_redir_'</span> + data.campaign;
              experience = <span class="hljs-built_in">JSON</span>.parse(mmcore.GetCookie(cookieName, <span class="hljs-number">1</span>) || <span class="hljs-string">'{}'</span>);
              mmcore.SetCookie(cookieName, <span class="hljs-string">''</span>, -<span class="hljs-number">1</span>, <span class="hljs-number">1</span>);
            }

            <span class="hljs-keyword">return</span> experience;
          },</pre></div></div>
            
        </li>
        
        
        <li id="section-34">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-34">&#182;</a>
              </div>
              <p><strong>Save</strong> target campaign <strong>experience</strong> to cookies</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>          <span class="hljs-comment">/**
           * Save target campaign experience to cookie (redirect case)
           *
           * @param  {Object} data Campaign data
           * @return {void}
           */</span>
          saveCampaignExperience: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data)</span> </span>{</pre></div></div>
            
        </li>
        
        
        <li id="section-35">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-35">&#182;</a>
              </div>
              <p>Get campaign name</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            <span class="hljs-keyword">var</span> campaignName = data.campaign,</pre></div></div>
            
        </li>
        
        
        <li id="section-36">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-36">&#182;</a>
              </div>
              <p>Get campaign experience</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>                experience = mmcore.GenInfo[data.campaign];</pre></div></div>
            
        </li>
        
        
        <li id="section-37">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-37">&#182;</a>
              </div>
              <p>Save campaign experince</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            mmcore.SetCookie(<span class="hljs-string">'mm_redir_'</span> + campaignName, <span class="hljs-built_in">JSON</span>.stringify(experience), <span class="hljs-number">0</span>, <span class="hljs-number">1</span>);
          },</pre></div></div>
            
        </li>
        
        
        <li id="section-38">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-38">&#182;</a>
              </div>
              <p><strong>Get campaign info</strong> in client-friendly format
<code>MyCampaign_=element1:variant|element2:variant</code></p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            <span class="hljs-comment">/**
             * Get campaign info in client-friendly format
             *
             * @param  {Object} data Campaign data
             * @return {String}      Campaign info in client-friendly format
             */</span>
            getCampaignInfo: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data)</span> </span>{
              <span class="hljs-keyword">var</span> experience = <span class="hljs-keyword">this</span>.getCampaignExperience(data),
                  campaignInfo = [],
                  element;</pre></div></div>
            
        </li>
        
        
        <li id="section-39">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-39">&#182;</a>
              </div>
              <p>Log error if target campaign isn’t generated</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              <span class="hljs-keyword">if</span> (!experience) {<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.logError(data.campaign + <span class="hljs-string">' is not found.'</span>);}</pre></div></div>
            
        </li>
        
        
        <li id="section-40">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-40">&#182;</a>
              </div>
              <p>Collect campaign experience</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              <span class="hljs-keyword">for</span> (element <span class="hljs-keyword">in</span> experience) {
                  campaignInfo.push(element + <span class="hljs-string">':'</span> + experience[element]);
              }</pre></div></div>
            
        </li>
        
        
        <li id="section-41">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-41">&#182;</a>
              </div>
              <p>Format and return campaign info</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              <span class="hljs-keyword">return</span> data.campaign + <span class="hljs-string">'='</span> + campaignInfo.join(<span class="hljs-string">'|'</span>);
            },</pre></div></div>
            
        </li>
        
        
        <li id="section-42">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-42">&#182;</a>
              </div>
              <p><strong>Check</strong> whether the page in <strong>production mode</strong></p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            <span class="hljs-comment">/**
             * Check whether the page in production mode
             * @return {Boolean}
             */</span>
            isProduction: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{
              <span class="hljs-keyword">var</span> params = [<span class="hljs-string">'cfgid'</span>, <span class="hljs-string">'opc.enabled'</span>, <span class="hljs-string">'opc.vis'</span>, <span class="hljs-string">'pt.enabled'</span>, <span class="hljs-string">'un'</span>],
                  cookies = [<span class="hljs-string">'cfgid'</span>, <span class="hljs-string">'cfgID'</span>],
                  i = <span class="hljs-number">0</span>;</pre></div></div>
            
        </li>
        
        
        <li id="section-43">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-43">&#182;</a>
              </div>
              <p>check for URL params</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              <span class="hljs-keyword">for</span>(; i &lt; params.length; i ++) {
                <span class="hljs-keyword">if</span> (mmcore.GetParam(params[i])) {
                    <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
                }
              }</pre></div></div>
            
        </li>
        
        
        <li id="section-44">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-44">&#182;</a>
              </div>
              <p>check for Cookies</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              <span class="hljs-keyword">for</span>(i = <span class="hljs-number">0</span>; i &lt; cookies.length; i ++) {
                <span class="hljs-keyword">if</span> (mmcore.GetCookie(cookies[i])) {
                    <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
                }
              }

              <span class="hljs-keyword">return</span> <span class="hljs-literal">true</span>;
            },</pre></div></div>
            
        </li>
        
        
        <li id="section-45">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-45">&#182;</a>
              </div>
              <p><strong>Check</strong> whether provided target camapaign <strong>data is valid</strong></p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            <span class="hljs-comment">/**
             * Check whether provided target camapaign data is valid
             *
             * @param  {Object}  data Campaign data
             * @return {void}
             */</span>
            isValidData: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data)</span> </span>{
              <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.validate.call(<span class="hljs-keyword">this</span>, data);
            },</pre></div></div>
            
        </li>
        
        
        <li id="section-46">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-46">&#182;</a>
              </div>
              <p><strong>Execute</strong> defined <strong>modifier</strong> methods</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            <span class="hljs-comment">/**
             * Execute modifiers defined in defaults object
             *
             * @param  {Object} data        Campaign data
             * @param  {Object} integration
             * @return {void}
             */</span>
            executeModifiers: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data)</span> </span>{
              <span class="hljs-keyword">var</span> modifiers = <span class="hljs-keyword">this</span>.defaults.modifiers,
                  modifier;

              <span class="hljs-keyword">if</span> (modifiers) {
                <span class="hljs-keyword">for</span>(modifier <span class="hljs-keyword">in</span> modifiers) {
                    modifiers[modifier].call(<span class="hljs-keyword">this</span>, data);
                }
              }
            },</pre></div></div>
            
        </li>
        
        
        <li id="section-47">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-47">&#182;</a>
              </div>
              <p><strong>Execution</strong> of <code>exec</code> method defined in target integration</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>            <span class="hljs-comment">/**
             * Execution of `exec` method defined in target integration
             *
             * @param  {Object} data Campaign data
             * @return {void]}
             */</span>
            sendIntegrationData: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data)</span> </span>{
              <span class="hljs-keyword">var</span> integration = <span class="hljs-keyword">this</span>;</pre></div></div>
            
        </li>
        
        
        <li id="section-48">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-48">&#182;</a>
              </div>
              <p>Check if third-party end point is available on the page</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>              (<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">checker</span><span class="hljs-params">()</span> </span>{
                <span class="hljs-keyword">if</span> (integration.check(data)) {</pre></div></div>
            
        </li>
        
        
        <li id="section-49">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-49">&#182;</a>
              </div>
              <p>Execute integration</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>                  integration.exec(data);
                } <span class="hljs-keyword">else</span> {</pre></div></div>
            
        </li>
        
        
        <li id="section-50">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-50">&#182;</a>
              </div>
              <p>Countinue checking if <code>isStopOnDocEnd</code> equals true
or <code>DOM</code> isn’t loaded yet</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>                  setTimeout(checker, integration.interval);
                }
              })();
            }
        };</pre></div></div>
            
        </li>
        
        
        <li id="section-51">
            <div class="annotation">
              
              <div class="pilwrap ">
                <a class="pilcrow" href="#section-51">&#182;</a>
              </div>
              <p>Integration Factory exports</p>

            </div>
            
            <div class="content"><div class='highlight'><pre>    mmcore.IntegrationFactory = mmcore.IntegrationFactory || {
      VERSION: VERSION,
      integrations: integrations,
      register: register,
      initialize: initialize
    };
})(<span class="hljs-built_in">window</span>.mmcore || {});</pre></div></div>
            
        </li>
        
    </ul>
  </div>
</body>
</html>
